[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]



[dev-packages]

pytest = "*"
pylint = "*"
twine = "*"
sphinx = "*"
"m2r" = "*"
recommonmark = "*"
alabaster = "*"


[requires]

python_version = "3.5"